@charset "UTF-8";

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  color: black;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  text-align: justify;
  text-justify: inter-ideograph;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

a {
  text-decoration: none;
  color: #2040FF;
}

a:visited {
  text-decoration: none;
  color: #2040FF;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  height: auto;
}

h5 {
  color: white;
  font-size: 2rem;
  border-bottom: 4px solid #67c5ff;
  padding: 10px 5px 5px 10px;
}

tr, td {
  vertical-align: top;
}

div {
  box-sizing: border-box;
}

p {
  font-size: 2rem;
}

canvas {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

button:focus {
  outline: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
}

.relative {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.absolute {
  position: absolute;
}

.center-absolute {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.scrollable {
  overflow: scroll;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.scrollable-y {
  overflow-y: scroll;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.content {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content .col {
  margin: 0;
  padding: 0;
}

#canvases-scrollable {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  overflow: scroll;
  box-sizing: border-box;
}

#canvases {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  box-sizing: border-box;
  position: relative;
}

#layer-canvases {
  padding: 300px 500px;
}

.layer {
  position: absolute;
}

#layer-0 {
  background: url(data:image/gif;base64,R0lGODlhEAAQAPEBAAAAAL+/v////wAAACH5BAAAAAAALAAAAAAQABAAAAIfjG+iq4jM3IFLJipswNly/XkcBpIiVaInlLJr9FZWAQA7);
}

#canvas {
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
}

.canvases canvas {
  box-sizing: border-box;
}

.buttons {
  margin: 30px 0 0 30px;
  position: fixed;
  z-index: 9999;
}

.left-menu {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  background: rgb(70, 70, 70);
}

.left-menu .col {
  margin: 0;
  padding: 0 5px;
}

.pen-colorpicker {
  margin: 0 auto;
}

.sp-container {
  width: 200px;
  background-color: transparent;
  border: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.sp-picker-container, .sp-palette-container {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.sp-input {
  color: white;
}

.pen-mode-button,
.pen-nib-button,
.pen-size-button,
.layer-button {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: #67c5ff;
  border: dashed 2px #67c5ff;
  border-radius: 3px;
  transition: 0.2s;
  width: 96%;
  margin: 2%;
  padding: 5px;
}

.pen-mode-button:hover,
.pen-nib-button:hover,
.pen-size-button:hover,
.layer-button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.active-pen-mode,
.active-pen-nib,
.active-pen-size,
.active-layer {
  border: solid 2px pink !important;
}

#undo-button, #redo-button {
  width: 55px;
  height: 55px;
  background: #67c5ff;
  padding: 10px;
  border: 5px solid white;
  border-radius: 50%;
  box-sizing: border-box;
}

#undo-button:hover, #redo-button:hover {
  background: #4f97c4;
}

.layer-button {
  min-height: 54px;
}

.right-menu {
  width: 100%;
  height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  background: rgb(70, 70, 70);
}

#add-layer-button {
  font-size: 2rem;
  margin: 5px;
  font-weight: bold;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  color: #67c5ff;
  border: dashed 2px #67c5ff;
  border-radius: 3px;
  transition: 0.2s;
}

#add-layer-button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.layer-button {
  position: relative;
}

.remove-layer-button {
  color: red !important;
  text-decoration: none;
  right: 5px;
  position: absolute;
}

.layer-menu {
  height: 45%;
}

.layer-preview-image {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10px;
  object-fit: cover;
  border: solid 1px white;
}

.preview-area {
  height: 25%;
}

#preview-canvas {
  width: 100%;
  height: auto;
}

.share-area {
  font-size: 1.7rem;
  height: 30%;
}

#share-text {
  color: white;
  width: 94%;
  height: 150px;
  background: transparent;
  margin: 3%;
  border: 1px solid white;
  border-radius: 5px;
  box-sizing: border-box;
  overflow-y: auto;
  word-wrap : break-word;
  word-break : break-all;
  overflow-wrap : break-word;
}

#save-button {
  margin: 5px;
  background: white;
  color: black;
  padding: 5px 15px;
  border: 1px solid gray;
  border-radius: 3px;
}

#save-button:hover {
  background: darkgray;
}
